.App{
    padding: 20px;
}
.App h1{
    text-align: center;
    color: #834d4d;
}

.container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

}

.logoynombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.logoynombre img{
    width: 200px;
    border-radius: 20px;
    transition: transform 0.2s;
    cursor: pointer;  
    width: 50%;
}